.accordion__title {
    background-color: #FF6060;
    color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.accordion__content {
    background-color: #F6F6F6;
    border-radius: 1rem;
    color: #FF6060;
    font-size: larger;
    padding: 1.5rem;
}

.accordions {margin:  3rem 2rem;}

.accordion {margin-bottom: 1rem; cursor: pointer;}

.active img {transform: rotate(180deg);}

.false .accordion__content {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    height: 0;
    padding: 0;
}

.active .accordion__content {transition: all .5s ease-in-out;}

.false .accordion__content {transition: all .5s ease-in-out;}