.errorBody {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #FF6060;
    margin: 8rem 0 8rem 0;
}

.errorBody strong {
    font-size: 11rem;
}

.errorBody p {
    font-size: 1.5rem;
    font-weight: bold;
}

.errorBody a {
    color: #FF6060;
    margin-top: 8rem;
}